<div class="row">
  <div class="col">
    <div id="lista">
      <h2>Lista de tareas</h2>
      <div *ngIf="tutorials$ | async as tareas; else vacio">
        <div id="tabla" class="card">
          <table class="table">
            <tbody>
            <tr *ngFor="let tarea of tareas">
              <td (click)="selectTarea(tarea)">{{tarea.texto}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #vacio>No hay tareas</ng-template>
    </div>
  </div>
  <div class="col">
    <app-tutorial-details [tarea]="tareaSelect"></app-tutorial-details>
  </div>
</div>
